<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Zack Hann</title>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link rel="stylesheet" type="text/css" href="/css/skills.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" type="text/css" href="/css/projects.css">
    <link rel="stylesheet" type="text/css" href="/css/mock.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script type="text/javascript" src="/js/functions.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>
  <body>
