:root {
  --light-sky: #D6DBE7;
  --dark-sky: #454349;
  --dark-water: #6E7681;
  --light-sand: #a59c9a;
  --dark-sand: #8d827b;
  --kelp: #465240;
  --light-kelp: #738475;
}


html {
  width: 100%;
}

body {
  width:100vw;
  height: 100vh;
  margin:0;
  position: relative;
  background: linear-gradient(to right, #C7CBD5, #aaaeb7)
}

.inset-shadow {
  -moz-box-shadow:
    inset 0 15px 75px -25px rgba(69, 67, 73, .60),
    inset 0 -15px 75px -25px rgba(69, 67, 73, .60);
  -webkit-box-shadow:
    inset 0 15px 75px -25px rgba(69, 67, 73, .60),
    inset 0 -15px 75px -25px rgba(69, 67, 73, .60);
  box-shadow:
    inset 0 15px 75px -25px rgba(69, 67, 73, .60),
    inset 0 -15px 75px -25px rgba(69, 67, 73, .60);
}
.light-inset-shadow {
  -moz-box-shadow:
    inset 0  15px 55px -35px rgba(99, 97, 103, .30),
    inset  0 -15px 55px -35px rgba(99, 97, 103, .30);
  -webkit-box-shadow:
    inset 0  15px 55px -35px rgba(99, 97, 103, .30),
    inset  0 -15px 55px -35px rgba(99, 97, 103, .30);
  box-shadow:
    inset 0  15px 55px -35px rgba(99, 97, 103, .30),
    inset  0 -15px 55px -35px rgba(99, 97, 103, .30);
}

.navbar{
  background: linear-gradient(to bottom right, rgba(0,0,0,.15), rgba(0,0,0,.05));
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  position: fixed;
  z-index: 3;
}

.nav-links {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 1.2px;
  width: 100%;
  display: flex;
  justify-content: space-around;

}
a:link, a:visited {
  color: var(--light-sky);
  text-decoration: none;
}
.head-img {
  background-image: url("../img/hero-img.jpg");
  height: 85vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin: 0;
  background-attachment: fixed;
  overflow: hidden;
}

.head-title {
  color: rgba(106,94,86,.65);
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 6.5vmax;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-left: 12%;
  margin-top: 120px;
  margin-bottom: 0;

}

.head-kicker {
  color: rgba(110,118,129,.65);
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 3.2vmax;
  letter-spacing: 2px;
  position: absolute;
  margin-top:10px;
  left: 35%;
}

.hero-box {
  height: 70vh;
  display: flex;
  align-items: center;
  position: relative;

}

.hero-info {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2vmax;
  color: var(--dark-water);
  text-align: center;
  display: block;
  margin: auto;
  overflow: hidden;
}

.hero-info-bg {
  left:0;
  right:0;
  top:0;
  bottom: 0;
  margin:auto;
  width: 69vw;
  font-family: 'Poppins', sans-serif;
  font-size: 15vh;
  color: rgba(115, 132, 117, .2);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hero-info p {
 margin: 0 auto;
 line-height: 8vmax;
}

.section-text {
  margin-left: 12%;
}

.section-title {
  color: rgba(219,220,223,.9);
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 600;
  font-size: 5vmax;
  margin-bottom: -15px;
  filter: drop-shadow(0px 7px 1rem var(--dark-water));
}

.custom-rule {
  margin-right: 70%;
  margin-top: 5px ;
  margin-bottom: 5px;
  display:block;
  border:none;
  color:red;
  height:2px;
  background:red;
  background: radial-gradient(farthest-side at 35% 50%,rgba(219,220,223,.9),rgba(219,220,223,0));
}

.section-kicker {
  color: rgba(190,200,203,.9);
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 2.5vmax;
  letter-spacing: 2px;
  filter: drop-shadow(0px 5px 1rem var(--dark-water));
  margin-top: 5px;
  }

.info-box {
  height: 85vh;
}

.about-img {
  background-image: url("../img/about-img.jpg");
  height: 50vh;
  min-height:300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.headshot {
  border-radius: 50%;
  border: solid 8px var(--light-kelp);
  height: 20vh;
  width: 20vh;
  margin: 40px auto;
  display: block;
  filter: drop-shadow(10px 10px 1rem var(--dark-water));
}

.about-info {
  margin: inherit auto;
  text-align: center;
}

.about-info h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 7vh;
  margin-top: -30px;
  color: var(--kelp);
}

.about-info p {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 4vh;
  color: var(--dark-sand);
  width: 65vw;
  margin: 15px auto 45px auto;
  letter-spacing: 2px;
}

.skills-img {
  background-image: url("../img/skills-img.jpg");
  height: 50vh;
  min-height:300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 82%;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.skills-info {
  width: 75%;
  margin: 10vh auto;
}

.proj-img {
  background-image: url("../img/proj-img.jpg");
  height: 50vh;
  min-height:300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.proj-box {
  height:auto;
}

.contact-img {
  background-image: url("../img/contact-img.jpg");
  height: 50vh;
  width: 100%;
  min-height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 69%;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.footer{
  background-image: url("../img/hero-img.jpg");
  height: 15vh;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.footer-title {
  color: rgba(69, 67, 73, .65);
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 3vmax;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: absolute;
  left: 70%;

}


@media screen and (max-width: 812px) {

  .inset-shadow {
    -moz-box-shadow:
      inset 0 15px 75px -25px rgba(69, 67, 73, .0),
      inset 0 -15px 75px -25px rgba(69, 67, 73, .0);
    -webkit-box-shadow:
      inset 0 15px 75px -25px rgba(69, 67, 73, .0),
      inset 0 -15px 75px -25px rgba(69, 67, 73, .0);
    box-shadow:
      inset 0 15px 75px -25px rgba(69, 67, 73, .0),
      inset 0 -15px 75px -25px rgba(69, 67, 73, .0);
  }

  .navbar{
    display: none;
  }

  .head-title {
    text-align: center;
    margin: 25vh auto 0 auto;
   }

  .head-kicker {
    text-align: center;
    margin: 0 auto;
    left: auto;
    position: relative;
  }

  .hero-box {
    height: 50vh;
  }

  .hero-info {
    width:75%;
  }

  .custom-rule{
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    background: radial-gradient(farthest-side at 50% 50%,rgba(219,220,223,.9),rgba(219,220,223,0));
  }

  .section-text {
    margin-top: 15vh;
    margin-left:auto;
    text-align: center;
  }

  .section-title {
    color: rgba(190,200,203,.9);
  }

  .skills-img p, .skills-img h1 {
    color: rgba(110,118,129,.45);
  }

  #skill-rule {
    background: radial-gradient(farthest-side at 50% 50%,rgba(110,118,129,.45),rgba(219,220,223,0))
  }
